* {
    box-sizing: border-box;
  }
  
  body {
   background-image: url(https://phonoteka.org/uploads/posts/2021-04/1619246733_54-phonoteka_org-p-yegipetskii-fon-56.jpg);
background-size: cover;  
}
.breed-select
{
    border-radius: 70px 5px 7px 5px;
    background:#e8c8ac;

}

.wrapp
{
    display: flex;
        flex-direction: column;
    width: 500px;
    margin-left: 20px;
}

.cat-info
{
    display: flex;
    justify-content: space-between;
}
  .catPortret
   {
width: 450px;   
height: 600px;
 margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    margin-bottom: 1.6%;
    background:#e8c8ac; 
    line-height: 1.4;
    border-radius: 90px 150px 90px 150px;
    overflow: hidden;
    transform: skewX(-3deg);

   }
       
       .photoCatWrap {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      width: 500px;
    }
      
          
    .catDescr {
      padding: 1rem;
      background:#e8c8ac;
      border-radius: 9px 6px 9px 6px;
      margin-left: 35px;
      margin-right: 35px;


 
    }
    .catName,
    .catTemp
     {
        font-family: Poppins, sans-serif;
      }
      .catName {
        line-height: 1;
        margin: 0;
        font-size: 1.7rem;
        background:#e8c8ac;
        border-radius: 9px 6px 9px 6px;
        text-align: center;


      }
      .catTemp {
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        color: grey_dark;
        margin-top: 5px;      
        background:#e8c8ac;
        text-align: center;
        border-radius: 7px 5px 7px 5px;

         }
   